@media screen and (max-width: 1000px) {
    .lesson {
      width: 50%;
    }
    .detail {
      margin-bottom: 20px;
    }
  }
  
  @media screen and (max-width: 670px) {
    .btn {
      width: 100%;
    }
    .jelajahi {
      margin-bottom: 10px;
    }
    .lesson {
      width: 100%;
    }
  }
